{
 "openapi": "3.0.2",
 "info": {
  "title": "GoLive Tracker \u2014 Projects",
  "description": "Refer\u00eancia da API do GoLive Tracker para quem constr\u00f3i o frontend: projetos, equipa, marcos, itens, auditorias, anexos, atualiza\u00e7\u00f5es, \"o meu trabalho\" e dashboard.\n\n**Protocolo:** OData V4 (JSON). Funcionam `$select`, `$expand`, `$filter`, `$orderby`, `$top`/`$skip`, `$count` e `$search`.\n\n**Autentica\u00e7\u00e3o:** cada pedido leva um token XSUAA (`Authorization: Bearer <JWT>`). No browser, o SAP Application Router trata do login e injeta o token. A API n\u00e3o tem CORS, por isso o frontend tem de passar pelo approuter.\n\n**Ambientes:**\n- BTP sandbox: `https://amt---consulting--s-a--h2h-sandbox-lwsjexg2-sandbox-gol62961c38.cfapps.us10.hana.ondemand.com` (dados de teste anonimizados, projetos `CO-T-0001` a `CO-T-0088`)\n- Local: `http://localhost:4004` (Basic Auth com utilizadores de teste)\n\nOs IDs nos exemplos de pedido s\u00e3o dos dados de demonstra\u00e7\u00e3o locais. No BTP, use IDs obtidos pela pr\u00f3pria API.\n\nO guia completo (perfis, regras de neg\u00f3cio, erros e como as mockups correspondem \u00e0 API) est\u00e1 aqui: [GoLive Tracker API \u2014 Guia do frontend](https://claude.ai/code/artifact/34868f7f-679e-4156-a9c2-c812164488b5).",
  "version": "1.0"
 },
 "x-sap-api-type": "ODATAV4",
 "x-odata-version": "4.01",
 "x-sap-shortText": "Use the Core.Description annotation on your CDS service to provide a meaningful short text.",
 "servers": [
  {
   "url": "https://amt---consulting--s-a--h2h-sandbox-lwsjexg2-sandbox-gol62961c38.cfapps.us10.hana.ondemand.com/project",
   "description": "BTP sandbox"
  },
  {
   "url": "http://localhost:4004/project",
   "description": "Local (npm run watch)"
  }
 ],
 "tags": [
  {
   "name": "All Attachments"
  },
  {
   "name": "Clients"
  },
  {
   "name": "Currencies"
  },
  {
   "name": "My Items"
  },
  {
   "name": "My Milestones"
  },
  {
   "name": "People"
  },
  {
   "name": "Projects"
  },
  {
   "name": "Recent Updates"
  },
  {
   "name": "Audits"
  },
  {
   "name": "Milestone Items"
  },
  {
   "name": "Milestones"
  }
 ],
 "paths": {
  "/$batch": {
   "post": {
    "summary": "Sends a group of requests",
    "description": "Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*",
    "tags": [
     "Batch Requests"
    ],
    "requestBody": {
     "required": true,
     "description": "Batch request",
     "content": {
      "multipart/mixed;boundary=request-separator": {
       "schema": {
        "type": "string"
       },
       "example": "--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET Projects HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"
      }
     }
    },
    "responses": {
     "200": {
      "description": "Batch response",
      "content": {
       "multipart/mixed": {
        "schema": {
         "type": "string"
        },
        "example": "--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments": {
   "get": {
    "summary": "Retrieves a list of all attachments.",
    "tags": [
     "All Attachments"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "documentType",
         "documentType desc",
         "name",
         "name desc",
         "url",
         "url desc",
         "author_ID",
         "author_ID desc",
         "createdAt",
         "createdAt desc",
         "project_ID",
         "project_ID desc",
         "milestone_ID",
         "milestone_ID desc",
         "milestoneItem_ID",
         "milestoneItem_ID desc",
         "projectID",
         "projectID desc",
         "projectCode",
         "projectCode desc",
         "projectName",
         "projectName desc",
         "milestoneType",
         "milestoneType desc",
         "module",
         "module desc",
         "itemName",
         "itemName desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "documentType",
         "name",
         "url",
         "author_ID",
         "createdAt",
         "project_ID",
         "milestone_ID",
         "milestoneItem_ID",
         "projectID",
         "projectCode",
         "projectName",
         "milestoneType",
         "module",
         "itemName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "author",
         "project",
         "milestone",
         "milestoneItem"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved all attachments",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of AllAttachments",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.AllAttachments"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single all attachment.",
    "tags": [
     "All Attachments"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "documentType",
         "name",
         "url",
         "author_ID",
         "createdAt",
         "project_ID",
         "milestone_ID",
         "milestoneItem_ID",
         "projectID",
         "projectCode",
         "projectName",
         "milestoneType",
         "module",
         "itemName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "author",
         "project",
         "milestone",
         "milestoneItem"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved all attachment",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.AllAttachments"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments({ID})/author": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves author of a all attachment.",
    "tags": [
     "All Attachments",
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved author",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments({ID})/milestone": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone of a all attachment.",
    "tags": [
     "All Attachments"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestoneType",
         "module",
         "description",
         "baselineStart",
         "baselineEnd",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "justification",
         "mandatory",
         "requiresAudit",
         "sortOrder",
         "isOverdue",
         "changeReason",
         "itemsCompletion",
         "missingDocuments"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "owners",
         "history",
         "items",
         "audits",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Milestones"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments({ID})/milestoneItem": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone item of a all attachment.",
    "tags": [
     "All Attachments"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "type",
         "name",
         "description",
         "date",
         "owner_ID",
         "status",
         "audit_ID",
         "isOverdue"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "owner",
         "audit",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone item",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.MilestoneItems"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/AllAttachments({ID})/project": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves project of a all attachment.",
    "tags": [
     "All Attachments",
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "code",
         "externalCode",
         "name",
         "description",
         "client_ID",
         "projectType",
         "value",
         "currency_code",
         "startDate",
         "endDate",
         "status",
         "statusReason",
         "auditCandidate",
         "needsReview",
         "reviewReason",
         "reviewRequestedAt",
         "closedAt",
         "committeeOwner_ID",
         "lastUpdateAt"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "client",
         "currency",
         "committeeOwner",
         "modules",
         "members",
         "pm",
         "milestones",
         "updates",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved project",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Projects"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Clients": {
   "get": {
    "summary": "Retrieves a list of clients.",
    "tags": [
     "Clients"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "name",
         "name desc",
         "erpCode",
         "erpCode desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "erpCode"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved clients",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of Clients",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.Clients"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Clients({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single client.",
    "tags": [
     "Clients"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "erpCode"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved client",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Clients"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Currencies": {
   "get": {
    "summary": "Retrieves a list of currencies.",
    "tags": [
     "Currencies"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "name",
         "name desc",
         "descr",
         "descr desc",
         "code",
         "code desc",
         "symbol",
         "symbol desc",
         "minorUnit",
         "minorUnit desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "name",
         "descr",
         "code",
         "symbol",
         "minorUnit"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "texts",
         "localized"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved currencies",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of Currencies",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.Currencies"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Currencies('{code}')": {
   "parameters": [
    {
     "description": "key: code",
     "in": "path",
     "name": "code",
     "required": true,
     "schema": {
      "type": "string",
      "maxLength": 3
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single currency.",
    "tags": [
     "Currencies"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "name",
         "descr",
         "code",
         "symbol",
         "minorUnit"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "texts",
         "localized"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved currency",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Currencies"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Currencies('{code}')/localized": {
   "parameters": [
    {
     "description": "key: code",
     "in": "path",
     "name": "code",
     "required": true,
     "schema": {
      "type": "string",
      "maxLength": 3
     }
    }
   ],
   "get": {
    "summary": "Retrieves localized of a currency.",
    "tags": [
     "Currencies"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "locale",
         "name",
         "descr"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved localized",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Currencies_texts"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Currencies('{code}')/texts": {
   "parameters": [
    {
     "description": "key: code",
     "in": "path",
     "name": "code",
     "required": true,
     "schema": {
      "type": "string",
      "maxLength": 3
     }
    }
   ],
   "get": {
    "summary": "Retrieves a list of texts of a currency.",
    "tags": [
     "Currencies"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "locale",
         "locale desc",
         "name",
         "name desc",
         "descr",
         "descr desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "locale",
         "name",
         "descr"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved texts",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of Currencies_texts",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.Currencies_texts"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyItems": {
   "get": {
    "summary": "Retrieves a list of my items.",
    "tags": [
     "My Items"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "createdAt",
         "createdAt desc",
         "createdBy",
         "createdBy desc",
         "modifiedAt",
         "modifiedAt desc",
         "modifiedBy",
         "modifiedBy desc",
         "milestone_ID",
         "milestone_ID desc",
         "type",
         "type desc",
         "name",
         "name desc",
         "description",
         "description desc",
         "date",
         "date desc",
         "owner_ID",
         "owner_ID desc",
         "status",
         "status desc",
         "audit_ID",
         "audit_ID desc",
         "isOverdue",
         "isOverdue desc",
         "milestoneType",
         "milestoneType desc",
         "module",
         "module desc",
         "project_ID",
         "project_ID desc",
         "projectCode",
         "projectCode desc",
         "projectName",
         "projectName desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestone_ID",
         "type",
         "name",
         "description",
         "date",
         "owner_ID",
         "status",
         "audit_ID",
         "isOverdue",
         "milestoneType",
         "module",
         "project_ID",
         "projectCode",
         "projectName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "owner",
         "audit"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved my items",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of MyItems",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.MyItems"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyItems({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single my item.",
    "tags": [
     "My Items"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestone_ID",
         "type",
         "name",
         "description",
         "date",
         "owner_ID",
         "status",
         "audit_ID",
         "isOverdue",
         "milestoneType",
         "module",
         "project_ID",
         "projectCode",
         "projectName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "owner",
         "audit"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved my item",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.MyItems"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyItems({ID})/audit": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves audit of a my item.",
    "tags": [
     "My Items"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "code",
         "date",
         "auditor_ID",
         "result",
         "notes"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "auditor",
         "followUps"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved audit",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Audits"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyItems({ID})/milestone": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone of a my item.",
    "tags": [
     "My Items"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestoneType",
         "module",
         "description",
         "baselineStart",
         "baselineEnd",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "justification",
         "mandatory",
         "requiresAudit",
         "sortOrder",
         "isOverdue",
         "changeReason",
         "itemsCompletion",
         "missingDocuments"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "owners",
         "history",
         "items",
         "audits",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Milestones"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyItems({ID})/owner": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves owner of a my item.",
    "tags": [
     "My Items",
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved owner",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones": {
   "get": {
    "summary": "Retrieves a list of my milestones.",
    "tags": [
     "My Milestones"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "milestoneType",
         "milestoneType desc",
         "module",
         "module desc",
         "description",
         "description desc",
         "forecastStart",
         "forecastStart desc",
         "forecastEnd",
         "forecastEnd desc",
         "isEstimated",
         "isEstimated desc",
         "actualDate",
         "actualDate desc",
         "status",
         "status desc",
         "isOverdue",
         "isOverdue desc",
         "project_ID",
         "project_ID desc",
         "projectCode",
         "projectCode desc",
         "projectName",
         "projectName desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "milestoneType",
         "module",
         "description",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "isOverdue",
         "project_ID",
         "projectCode",
         "projectName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "owners"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved my milestones",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of MyMilestones",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.MyMilestones"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single my milestone.",
    "tags": [
     "My Milestones"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "milestoneType",
         "module",
         "description",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "isOverdue",
         "project_ID",
         "projectCode",
         "projectName"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "owners"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved my milestone",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.MyMilestones"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones({ID})/owners": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a list of owners of a my milestone.",
    "tags": [
     "My Milestones"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "person_ID",
         "person_ID desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "person_ID"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "person"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved owners",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of MilestoneOwners",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.MilestoneOwners"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones({ID})/owners({person_ID_1})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: person_ID",
     "in": "path",
     "name": "person_ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single owner of a my milestone.",
    "tags": [
     "My Milestones"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "person_ID"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "person"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved owner",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.MilestoneOwners"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones({ID})/owners({person_ID_1})/milestone": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: person_ID",
     "in": "path",
     "name": "person_ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone of a my milestone.",
    "tags": [
     "My Milestones"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestoneType",
         "module",
         "description",
         "baselineStart",
         "baselineEnd",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "justification",
         "mandatory",
         "requiresAudit",
         "sortOrder",
         "isOverdue",
         "changeReason",
         "itemsCompletion",
         "missingDocuments"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "owners",
         "history",
         "items",
         "audits",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Milestones"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/MyMilestones({ID})/owners({person_ID_1})/person": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: person_ID",
     "in": "path",
     "name": "person_ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves person of a my milestone.",
    "tags": [
     "My Milestones",
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved person",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/People": {
   "get": {
    "summary": "Retrieves a list of people.",
    "tags": [
     "People"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "name",
         "name desc",
         "email",
         "email desc",
         "profile",
         "profile desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved people",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of People",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.People"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/People({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single person.",
    "tags": [
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved person",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects": {
   "get": {
    "summary": "Retrieves a list of projects.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "createdAt",
         "createdAt desc",
         "createdBy",
         "createdBy desc",
         "modifiedAt",
         "modifiedAt desc",
         "modifiedBy",
         "modifiedBy desc",
         "code",
         "code desc",
         "externalCode",
         "externalCode desc",
         "name",
         "name desc",
         "description",
         "description desc",
         "client_ID",
         "client_ID desc",
         "projectType",
         "projectType desc",
         "value",
         "value desc",
         "currency_code",
         "currency_code desc",
         "startDate",
         "startDate desc",
         "endDate",
         "endDate desc",
         "status",
         "status desc",
         "statusReason",
         "statusReason desc",
         "auditCandidate",
         "auditCandidate desc",
         "needsReview",
         "needsReview desc",
         "reviewReason",
         "reviewReason desc",
         "reviewRequestedAt",
         "reviewRequestedAt desc",
         "closedAt",
         "closedAt desc",
         "committeeOwner_ID",
         "committeeOwner_ID desc",
         "lastUpdateAt",
         "lastUpdateAt desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "code",
         "externalCode",
         "name",
         "description",
         "client_ID",
         "projectType",
         "value",
         "currency_code",
         "startDate",
         "endDate",
         "status",
         "statusReason",
         "auditCandidate",
         "needsReview",
         "reviewReason",
         "reviewRequestedAt",
         "closedAt",
         "committeeOwner_ID",
         "lastUpdateAt"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "client",
         "currency",
         "committeeOwner",
         "modules",
         "members",
         "pm",
         "milestones",
         "updates",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved projects",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of Projects",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.Projects"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "post": {
    "summary": "Creates a single project.",
    "tags": [
     "Projects"
    ],
    "requestBody": {
     "description": "New project",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ProjectService.Projects-create"
       },
       "example": {
        "code": "CO-N-05000",
        "name": "Scalar demo project",
        "client_ID": "c1a1e6b0-0001-4000-8000-000000000001",
        "projectType": "Rollout",
        "startDate": "2026-10-01",
        "modules": [
         {
          "module": "EC"
         }
        ]
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created project",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Projects"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "code",
         "externalCode",
         "name",
         "description",
         "client_ID",
         "projectType",
         "value",
         "currency_code",
         "startDate",
         "endDate",
         "status",
         "statusReason",
         "auditCandidate",
         "needsReview",
         "reviewReason",
         "reviewRequestedAt",
         "closedAt",
         "committeeOwner_ID",
         "lastUpdateAt"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "client",
         "currency",
         "committeeOwner",
         "modules",
         "members",
         "pm",
         "milestones",
         "updates",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved project",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Projects"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "patch": {
    "summary": "Changes a single project.",
    "tags": [
     "Projects"
    ],
    "requestBody": {
     "description": "New property values",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ProjectService.Projects-update"
       },
       "example": {
        "description": "Updated from Scalar",
        "needsReview": true,
        "reviewReason": "Should it still be open? No activity since July"
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Success"
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ]
   },
   "delete": {
    "summary": "Deletes a single project.",
    "tags": [
     "Projects"
    ],
    "responses": {
     "204": {
      "description": "Success"
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/ProjectService.changeStatus": {
   "post": {
    "summary": "Invokes action changeStatus",
    "tags": [
     "Projects"
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "$ref": "#/components/schemas/ProjectService.Projects"
          }
         ],
         "nullable": true
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "description": "Action parameters",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "status": {
          "type": "string",
          "maxLength": 20,
          "enum": [
           "NotStarted",
           "InProgress",
           "OnHold",
           "Replanning",
           "Closing",
           "Closed",
           "Cancelled"
          ]
         },
         "reason": {
          "type": "string",
          "maxLength": 1000,
          "nullable": true
         }
        }
       },
       "example": {
        "status": "OnHold",
        "reason": "Client budget freeze until October"
       }
      }
     }
    }
   }
  },
  "/Projects({ID})/ProjectService.handOverPM": {
   "post": {
    "summary": "Invokes action handOverPM",
    "tags": [
     "Projects"
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "$ref": "#/components/schemas/ProjectService.Projects"
          }
         ],
         "nullable": true
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "description": "Action parameters",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "person_ID": {
          "type": "string",
          "format": "uuid",
          "example": "01234567-89ab-cdef-0123-456789abcdef"
         },
         "startDate": {
          "type": "string",
          "format": "date",
          "example": "2017-04-13",
          "nullable": true
         }
        }
       },
       "example": {
        "person_ID": "b0a1e6b0-0004-4000-8000-000000000004",
        "startDate": "2026-10-01"
       }
      }
     }
    }
   }
  },
  "/Projects({ID})/ProjectService.setBaseline": {
   "post": {
    "summary": "Invokes action setBaseline",
    "tags": [
     "Projects"
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "allOf": [
          {
           "$ref": "#/components/schemas/ProjectService.Projects"
          }
         ],
         "nullable": true
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "description": "Action parameters",
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "reason": {
          "type": "string",
          "maxLength": 1000,
          "nullable": true
         }
        }
       },
       "example": {
        "reason": "Plan agreed with the client"
       }
      }
     }
    }
   }
  },
  "/Projects({ID})/attachments": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a list of attachments of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "createdAt",
         "createdAt desc",
         "createdBy",
         "createdBy desc",
         "modifiedAt",
         "modifiedAt desc",
         "modifiedBy",
         "modifiedBy desc",
         "documentType",
         "documentType desc",
         "name",
         "name desc",
         "author_ID",
         "author_ID desc",
         "url",
         "url desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "documentType",
         "name",
         "author_ID",
         "url"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "milestone",
         "milestoneItem",
         "author"
        ]
       }
      }
     },
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved attachments",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of Attachments",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.Attachments"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "post": {
    "summary": "Creates a single attachment of a project.",
    "tags": [
     "Projects"
    ],
    "requestBody": {
     "description": "New attachment",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ProjectService.Attachments-create"
       },
       "example": {
        "documentType": "Project plan",
        "name": "Project plan v1",
        "url": "https://amtconsulting.sharepoint.com/sites/CO-N-03251/Project_plan_v1.xlsx"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created attachment",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Attachments"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ]
   }
  },
  "/Projects({ID})/attachments({ID_1})": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a single attachment of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "documentType",
         "name",
         "author_ID",
         "url"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "milestone",
         "milestoneItem",
         "author"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved attachment",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Attachments"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "patch": {
    "summary": "Changes a single attachment of a project.",
    "tags": [
     "Projects"
    ],
    "requestBody": {
     "description": "New property values",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ProjectService.Attachments-update"
       }
      }
     }
    },
    "responses": {
     "204": {
      "description": "Success"
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "delete": {
    "summary": "Deletes a single attachment of a project.",
    "tags": [
     "Projects"
    ],
    "responses": {
     "204": {
      "description": "Success"
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/attachments({ID_1})/author": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves author of a project.",
    "tags": [
     "Projects",
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved author",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/attachments({ID_1})/milestone": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "milestoneType",
         "module",
         "description",
         "baselineStart",
         "baselineEnd",
         "forecastStart",
         "forecastEnd",
         "isEstimated",
         "actualDate",
         "status",
         "justification",
         "mandatory",
         "requiresAudit",
         "sortOrder",
         "isOverdue",
         "changeReason",
         "itemsCompletion",
         "missingDocuments"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "owners",
         "history",
         "items",
         "audits",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Milestones"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/attachments({ID_1})/milestoneItem": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves milestone item of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "type",
         "name",
         "description",
         "date",
         "owner_ID",
         "status",
         "audit_ID",
         "isOverdue"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "milestone",
         "owner",
         "audit",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved milestone item",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.MilestoneItems"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/attachments({ID_1})/project": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    },
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID_1",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves project of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "code",
         "externalCode",
         "name",
         "description",
         "client_ID",
         "projectType",
         "value",
         "currency_code",
         "startDate",
         "endDate",
         "status",
         "statusReason",
         "auditCandidate",
         "needsReview",
         "reviewReason",
         "reviewRequestedAt",
         "closedAt",
         "committeeOwner_ID",
         "lastUpdateAt"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "client",
         "currency",
         "committeeOwner",
         "modules",
         "members",
         "pm",
         "milestones",
         "updates",
         "attachments"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved project",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Projects"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/client": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves client of a project.",
    "tags": [
     "Projects",
     "Clients"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "erpCode"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved client",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Clients"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/committeeOwner": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves committee owner of a project.",
    "tags": [
     "Projects",
     "People"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "name",
         "email",
         "profile"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved committee owner",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.People"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/currency": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves currency of a project.",
    "tags": [
     "Projects",
     "Currencies"
    ],
    "parameters": [
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "name",
         "descr",
         "code",
         "symbol",
         "minorUnit"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "texts",
         "localized"
        ]
       }
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved currency",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.Currencies"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   }
  },
  "/Projects({ID})/members": {
   "parameters": [
    {
     "description": "key: ID",
     "in": "path",
     "name": "ID",
     "required": true,
     "schema": {
      "type": "string",
      "format": "uuid"
     }
    }
   ],
   "get": {
    "summary": "Retrieves a list of members of a project.",
    "tags": [
     "Projects"
    ],
    "parameters": [
     {
      "$ref": "#/components/parameters/top"
     },
     {
      "$ref": "#/components/parameters/skip"
     },
     {
      "$ref": "#/components/parameters/search"
     },
     {
      "name": "$filter",
      "description": "Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)",
      "in": "query",
      "schema": {
       "type": "string"
      }
     },
     {
      "$ref": "#/components/parameters/count"
     },
     {
      "name": "$orderby",
      "description": "Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "ID desc",
         "createdAt",
         "createdAt desc",
         "createdBy",
         "createdBy desc",
         "modifiedAt",
         "modifiedAt desc",
         "modifiedBy",
         "modifiedBy desc",
         "person_ID",
         "person_ID desc",
         "role",
         "role desc",
         "startDate",
         "startDate desc",
         "endDate",
         "endDate desc"
        ]
       }
      }
     },
     {
      "name": "$select",
      "description": "Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "ID",
         "createdAt",
         "createdBy",
         "modifiedAt",
         "modifiedBy",
         "person_ID",
         "role",
         "startDate",
         "endDate"
        ]
       }
      }
     },
     {
      "name": "$expand",
      "description": "The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)",
      "in": "query",
      "explode": false,
      "schema": {
       "type": "array",
       "uniqueItems": true,
       "items": {
        "type": "string",
        "enum": [
         "*",
         "project",
         "person"
        ]
       }
      }
     },
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Retrieved members",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "title": "Collection of ProjectMembers",
         "properties": {
          "@count": {
           "$ref": "#/components/schemas/count"
          },
          "value": {
           "type": "array",
           "items": {
            "$ref": "#/components/schemas/ProjectService.ProjectMembers"
           }
          }
         }
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    }
   },
   "post": {
    "summary": "Creates a single member of a project.",
    "tags": [
     "Projects"
    ],
    "requestBody": {
     "description": "New member",
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ProjectService.ProjectMembers-create"
       },
       "example": {
        "person_ID": "b0a1e6b0-0004-4000-8000-000000000004",
        "role": "Testing owner",
        "startDate": "2026-10-01"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created member",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProjectService.ProjectMembers"
        }
       }
      }
     },
     "4XX": {
      "$ref": "#/components/responses/error"
     }
    },
    "parameters": [
     {
      "description": "key: ID",
      "in": "path",
      "name": "ID",
[...]
